{{> header title="Admin" }}

<body class="text-center">
  
  {{> nav }}
  
  <div class="container mt-3">
    <div class="col-xl-10 offset-xl-1 text-left">
      
      {{> flash }}
      
      <h1 class="h4 text-center mt-4 mb-4 pt-3"><strong>{{environment}} Dashboard</strong></h1>
      
      <div class="row mt-4">
        <div class="col-4 text-left mt-2">
          <a href="/clients" class="btn btn-info btn-lg btn-block confirmed-blue-bg">Clients</a>
        </div>
        <div class="col-4 text-left mt-2">
          <a href="/sources" class="btn btn-info btn-lg btn-block confirmed-blue-bg">Sources</a>
        </div>
        <div class="col-4 text-left mt-2">
          <a href="/suricata" class="btn btn-info btn-lg btn-block confirmed-blue-bg">Suricata</a>
        </div>
        <div class="col-4 text-left mt-2">
          <a href="/database" class="btn btn-info btn-lg btn-block confirmed-blue-bg">Database</a>
        </div>
        <div class="col-4 text-left mt-2">
          <a href="/partners" class="btn btn-info btn-lg btn-block confirmed-blue-bg">Partners</a>
        </div>
        <div class="col-4 text-left mt-2">
          <a href="/email" class="btn btn-info btn-lg btn-block confirmed-blue-bg">Email</a>
        </div>
      </div>
      <div class="row mt-4 border-top pt-3">
        <div class="col-4 text-left mt-2">
          <a href="/reviews" class="btn btn-info btn-lg btn-block confirmed-blue-bg">Reviews</a>
        </div>
        <div class="col-4 text-left mt-2">
          <a href="/trackers" class="btn btn-info btn-lg btn-block confirmed-blue-bg">Trackers</a>
        </div>
      </div>
      
      <div class="row mt-5">
        
        <div class="col-xl-4 col-md-6 col-xs-12 text-left p-3 confirmed-bg">
          <h1 class="h6 text-center"><strong>Delete User With Email</strong></h1>
          <div>
            <input type="text" id="deleteUserWithEmailEmail" class="form-control" placeholder="test@test.com"/>
            <div class="form-check mt-1">
              <input class="form-check-input" type="checkbox" id="deleteUserWithEmailBanned" name="deleteUserWithEmailBanned">
              <label class="form-check-label" for="deleteUserWithEmailBanned" style="font-size: 12px; color: red;"> Mark As Banned/Abusive (rare)</label>
            </div>
            <textarea style="resize: none;" type="text" id="deleteUserWithEmailReason" class="form-control mt-1" placeholder="Required - Enter the reason you're deleting the user."></textarea>
            <button onclick="document.getElementById('deleteUserWithEmailEmail').value='';document.getElementById('deleteUserWithEmailReason').value='';" class="btn confirmed-gray-btn btn-sm mt-2" style="width: 49%;">Clear</button>
            <button id="deleteUserWithEmailButton" onclick="deleteUserWithEmail();" class="btn confirmed-blue-btn btn-sm mt-2" style="width: 49%;">Submit</button>
            <input type="text" id="deleteUserWithEmailResult" class="form-control mt-2" placeholder="Result Appears Here" readonly="readonly"/>
          </div>
        </div>
        
        <div class="col-xl-4 col-md-6 col-xs-12 text-left p-3 confirmed-bg">
          <h1 class="h6 text-center"><strong>Delete User With ID</strong></h1>
          <div>
            <input type="text" id="deleteUserWithIdId" class="form-control" placeholder="aaffeeff113322"/>
            <div class="form-check mt-1">
              <input class="form-check-input" type="checkbox" id="deleteUserWithIdBanned" name="deleteUserWithEmailBanned">
              <label class="form-check-label" for="deleteUserWithIdBanned" style="font-size: 12px; color: red;"> Mark As Banned/Abusive (rare)</label>
            </div>
            <textarea style="resize: none;" type="text" id="deleteUserWithIdReason" class="form-control mt-1" placeholder="Required - Enter the reason you're deleting the user."></textarea>
            <button onclick="document.getElementById('deleteUserWithIdId').value='';document.getElementById('deleteUserWithIdReason').value='';" class="btn confirmed-gray-btn btn-sm mt-2" style="width: 49%;">Clear</button>
            <button id="deleteUserWithIdButton" onclick="deleteUserWithId();" class="btn confirmed-blue-btn btn-sm mt-2" style="width: 49%;">Submit</button>
            <input type="text" id="deleteUserWithIdResult" class="form-control mt-2" placeholder="Result Appears Here" readonly="readonly"/>
          </div>
        </div>
        
        <div class="col-xl-4 col-md-6 col-xs-12 text-left p-3 confirmed-bg">
          <h1 class="h6 text-center"><strong>Generate Users (DEV Environment ONLY)</strong></h1>
          <div>
            <input type="text" id="generateUsersNum" class="form-control"/>
            <button id="generateUsersButton" onclick="generateUsers();" class="btn confirmed-blue-btn btn-sm mt-2" style="width: 49%;">Submit</button>
          </div>
        </div>
        
        <div class="col-xl-4 col-md-6 col-xs-12 text-left p-3 confirmed-bg">
          <h1 class="h6 text-center"><strong>Do Not Email</strong></h1>
          <div>
            <input type="text" id="doNotEmailEmail" class="form-control" placeholder="test@test.com"/>
            <button onclick="document.getElementById('doNotEmailEmail').value='';" class="btn confirmed-gray-btn btn-sm mt-2" style="width: 49%;">Clear</button>
            <button id="doNotEmailButton" onclick="doNotEmail();" class="btn confirmed-blue-btn btn-sm mt-2" style="width: 49%;">Submit</button>
            <input type="text" id="doNotEmailResult" class="form-control mt-2" placeholder="Result Appears Here" readonly="readonly"/>
          </div>
        </div>
        
        
      </div>
    
      <div class="col-xl-6 offset-xl-3 col-xs-12 text-left mb-5">
  		  <div class="container-fluid mt-3 p-3 rounded confirmed-bg">
          <h1 class="h6 text-center">Your Account</h1>
          <a href="/change-password" class="btn confirmed-blue-btn btn-sm btn-block">Change Password</a>
        </div>
      </div>
  
    </div> <!-- column -->
  </div> <!-- row -->
  
  {{> footer}}

  {{> bootstrapjs}}
  
  <script>
    
    function generateUsers() {
      var http = new XMLHttpRequest();
      var url = "generate-users";
      http.open("POST", url, true);
      var params = "num=" + encodeURIComponent(document.getElementById("generateUsersNum").value);
      http.responseType = 'json';
      http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      http.onreadystatechange = function() {
          if (http.readyState == 4) {
            if (http.status == 200) {
              alert(http.response.message);
              return;
            }
            alert("Error: " + JSON.stringify(http.response));
          }
      }
      http.send(params);
    }
    
    function deleteUserWithEmail() {
      if (confirm("This will send an email to alert the customer that you're deleting their account and cancelling their subscriptions. Proceed?")) {
        document.getElementById("deleteUserWithEmailButton").disabled = true;
        document.getElementById("deleteUserWithEmailResult").value = "";
    		var http = new XMLHttpRequest();
    		var url = "delete-user-with-email";
    		http.open("POST", url, true);
      	var params = "email=" + document.getElementById("deleteUserWithEmailEmail").value + "&reason=" + document.getElementById("deleteUserWithEmailReason").value + "&banned=" + document.getElementById("deleteUserWithEmailBanned").checked;
        http.responseType = 'json';
    		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    		http.onreadystatechange = function() {
    		    if (http.readyState == 4) {
              document.getElementById("deleteUserWithEmailButton").disabled = false;
      				if (http.status == 200) {
                document.getElementById("deleteUserWithEmailResult").value = http.response.message;
                return;
      				}
              alert("Error: " + JSON.stringify(http.response));
    		    }
    		}
    		http.send(params);
      }
    }
    
    function deleteUserWithId() {
      if (confirm("This will send an email to alert the customer that you're deleting their account and cancelling their subscriptions. Proceed?")) {
        document.getElementById("deleteUserWithIdButton").disabled = true;
        document.getElementById("deleteUserWithIdResult").value = "";
    		var http = new XMLHttpRequest();
    		var url = "delete-user-with-id";
    		http.open("POST", url, true);
      	var params = "id=" + document.getElementById("deleteUserWithIdId").value + "&reason=" + document.getElementById("deleteUserWithIdReason").value + "&banned=" + document.getElementById("deleteUserWithIdBanned").checked;
        http.responseType = 'json';
    		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    		http.onreadystatechange = function() {
    		    if (http.readyState == 4) {
              document.getElementById("deleteUserWithIdButton").disabled = false;
      				if (http.status == 200) {
                document.getElementById("deleteUserWithIdResult").value = http.response.message;
                return;
      				}
              alert("Error: " + JSON.stringify(http.response));
    		    }
    		}
    		http.send(params);
      }
    }
    
    function doNotEmail() {
      document.getElementById("doNotEmailButton").disabled = true;
      document.getElementById("doNotEmailResult").value = "";
  		var http = new XMLHttpRequest();
  		var url = "set-do-not-email";
  		http.open("POST", url, true);
    	var params = "email=" + document.getElementById("doNotEmailEmail").value;
      http.responseType = 'json';
  		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  		http.onreadystatechange = function() {
  		    if (http.readyState == 4) {
            document.getElementById("doNotEmailButton").disabled = false;
    				if (http.status == 200) {
              document.getElementById("doNotEmailResult").value = http.response.message;
              return;
    				}
            alert("Error: " + JSON.stringify(http.response));
  		    }
  		}
  		http.send(params);
    }

  </script>
  
</body>